<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<h1>DHCP</h1>


<table class="table table-striped table-dark">
    <thead class="thead-dark">

    <tr>
       <th scope="col"> <a href="/ip">IP</a> </th>
        <th scope="col"> <a href="/hw">hw</a> </th>
      <th scope="col"><a href="/hostname">hostname</a> </th>
    </tr>
    <tbody>
    {% for item in list_ip %}
    <tr>
         <td> {{item.ip}} </td>
        <td> {{item.hw}} </td>
         <td> {{item.hostname}} </td>
    </tr>
     {% endfor %}
    </tbody>
</table>



</body>

</html>